/*
* 1.0 Imports
*/
@import "compass";
@import "base";
@import "color";
@import "typo";


/*
* 2.0 Reset style
*/
@include global-reset;


/*
* 3.0 Basic style
*/
body {
		font-family: $base-font-family;
		font-weight: $base-font-weight;
		@include font-size(16);
		@include line-height(16);
		background: $background-color;
		color: $text-color;
}

*,
*:after,
*:before {
  @include box-sizing(border-box);
}

/*
 * 4.0 Typography
 */
 h1, h2, h3, h4, h5, h6 { 
 	font-family: $heading-font-family;
 	font-weight: $heading-font-weight;
 }

 h1, h2 { @include line-height(16); }
 h3, h4 { @include line-height(16); }
 h5, h6 { @include line-height(16); }



